
body{
  background: #F9F9F9;
}
::-webkit-scrollbar{
width: 10px;
}
::-webkit-scrollbar-thumb{
background-color: #C53678;
border-radius: 50px;
}

.navbar-toggler{
  border: none;
}


/*Head*/
a{
  text-decoration: none;
}

.dropdown-item:hover{
  color: #B12341;
}

/*home*/
 /*search*/

.mainpage{
  margin-left: 90px;
  margin-right: 90px;
}

@media only screen and (max-width: 450px){
  .mainpage{
    margin-left: 0px;
    margin-right: 0px;
  }

  .search{
    border: 2px solid #C53678;
    border-radius: 5px;
    background: #F9F9F9;
    width: auto;
  }
}

.search{
  border: 2px solid #C53678;
  border-radius: 5px;
  background: #F9F9F9;
  width: 300px;
}

.fa-magnifying-glass:hover{
  color: #C53678;
}

.ser{
  margin-top: 20px; 
  display: flex; 
  justify-content: center;
}

.container1{ 
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-content: center;
  gap: 7px;
}

::placeholder{
  font-size: 15px;
  text-align: center;
}

.dabutton{
  font-family: 'Poppins';
  font-style: normal;
  font-size: 12px;
  color: #000000;
  background: #E8E6ED;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
}


.dabutton:focus{
  background-color:#C53678;
  color: white;
}
table, th, td {
  border: 1px solid;
  width: 30%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
}

.flex-container > div {
  font-family: 'Poppins';
  background-color: #E8E6ED;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  width: 35px;
}

.flex-container1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
}
.flex-container1 > div {
  font-family: 'Poppins';
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  width: 35px;
}

/*images*/
.card{
margin: 8px 8px 8px 8px;
}

.pro{
  display: flex;
  justify-content: space-between;
  margin: 8px 8px;
  font-size: 15px;
}

.image{
  width: 260px;
  height: 150px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.img-container{
  display: flex;
  font-size: 20px;
  padding: 10px 10px;
  justify-content: space-between;
  font-size: 15px;
}

.flex-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
}

.text{
    text-align: center;
    font-size: 30px;
    color: #C53678;
}

.text1
{
  margin-top: 30px;
  font-size: 30px;
  color: #C53678;
}

.flex-item-one {
  flex: 20%;
}

.flex-item-two {
  flex: 20%;
}

.flex-item-three {
  flex: 20%;
}

.flex-item-four {
  flex: 20%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-one, .flex-item-two, .flex-item-three, .flex-item-four {
    flex: 100%;
    margin-top: 2px;
  }
}



/*footer*/

/*Footer*/

footer{
  margin-top: 30%;
  background-color: rgb(251, 251, 251);
}

.flex-container4 {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 110px ;
  gap: 10px;
}
.title{
  font-family: 'Brush Script MT';
  font-size: 50px;
  padding-top: 75px;
  color: #C53678;
}

.shoshial{
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  margin-top: 60px;
  gap: 10px;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
}
.s-title{
   font-size: 18px;
   width: 30%;
}

.s-media{
   cursor: pointer;
}

.contact{
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  justify-content:left;
  margin-top: 30px;
  margin-left: 110px ;
  color: black;
}

.button2{
margin-left: 110px;
margin-top: 30px;
padding: 9px 25px;
background-color: #C53678;
border: none;
border-radius: 100px;
cursor: pointer;
color: white;
font-family: 'Poppins';
font-size: 15px;
width: 150px;
}

.s-contact{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   margin-bottom: 30px;
}

a{
   color: black;
}
