
body{
  background: #f7f5f5;
}
::-webkit-scrollbar{
width: 10px;
}
::-webkit-scrollbar-thumb{
background-color: #C53678;
border-radius: 50px;
}

.navbar{
  background-color: #ffffff;
}

.navbar-toggler{
  border: none;
  color: black;
}
.navbar-toggler-icon{
  color: black;
}

/*Head*/
a{
  text-decoration: none;
}

.dropdown-item:hover{
  color: #B12341;
}

/*home*/
.navbar-brand{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.nav-link:hover{
  color: #ff0077;
}
.nav-link{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 23px;
}

.mainpage{
  margin-left: 90px;
  margin-right: 90px;
}

/*mobile viwe*/
@media only screen and (max-width: 450px){
  .mainpage{
    margin-left: 0px;
    margin-right: 0px;
  }

  .search{
    border: 2px solid #C53678;
    border-radius: 5px;
    background: #F9F9F9;
    width: auto;
  }
  .center{
    margin-left: 50px;
    margin-right: 50px;
  }

  /*footer*/
  .flex-container4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 30px;
    margin-top: 30px;
    gap: 25px;
  }

  .title{
    font-family: 'Brush Script MT';
    font-size: 50px;
    color: #C53678;
    margin-top: 22px;
  }

  .container12{
    display: flex;
    justify-content: center;
  }
  .col-sm-8{
    display: flex;
    justify-content:center;
    padding-top: 20px;
    font-size: 20px;
  }
  
  .col-sm-3{
    display: flex;
    justify-content:center;
    cursor: pointer;
    gap: 10px;
  }
}

.search{
  border: 2px solid #C53678;
  border-radius: 5px;
  background: #F9F9F9;
  width: 300px;
}

.fa-magnifying-glass:hover{
  color: #C53678;
}

.ser{
  margin-top: 20px; 
  display: flex; 
  justify-content: center;
}

.container1{ 
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-content: center;
  gap: 7px;
}

::placeholder{
  font-size: 15px;
  text-align: center;
}

.dabutton{
  font-family: 'Poppins';
  font-style: normal;
  font-size: 12px;
  color: #000000;
  background: #E8E6ED;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
}


.dabutton:focus{
  background-color:#C53678;
  color: white;
}
table, th, td {
  border: 1px solid;
  width: 30%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
}

.flex-container > div {
  font-family: 'Poppins';
  background-color: #E8E6ED;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  width: 35px;
}

.flex-container1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
}
.flex-container1 > div {
  font-family: 'Poppins';
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  width: 35px;
}

/*images*/
.card{
margin: 8px 8px 8px 8px;
}

.pro{
  display: flex;
  justify-content: space-between;
  margin: 8px 8px;
  font-size: 15px;
}

.image{
  width: 260px;
  height: 150px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.img-container{
  display: flex;
  font-size: 20px;
  padding: 10px 10px;
  justify-content: space-between;
  font-size: 15px;
}

.flex-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
}

.text{
    text-align: center;
    font-size: 30px;
    color: #C53678;
}

.text1
{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: #C53678;
}

.flex-item-one {
  flex: 20%;
}

.flex-item-two {
  flex: 20%;
}

.flex-item-three {
  flex: 20%;
}

.flex-item-four {
  flex: 20%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-one, .flex-item-two, .flex-item-three, .flex-item-four {
    flex: 100%;
    margin-top: 2px;
  }
}

#delete{
  height: 10px;
  width: 15px;
}

/*report*/
.dlbox{
 border: 2px solid #C53678;
 border-radius: 6px;
 background-color: #f3dde7;
}

.report{
  border: 2px solid #C53678;
  border-radius: 5px;
  background: #F9F9F9;
  width: 300px;
}

#cancel-delete{
  background-color: #4CAF50; 
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#confirm-delete{
  background-color: #ff0000; 
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*Footer*/
.size{
  margin-right: 90px;
  margin-left: 90px ;
  padding-bottom: 30px;
}
footer{
  margin-top: 30%;
  background-color: rgb(251, 251, 251);
}

.flex-container4 {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 30px;
  margin-top: 30px;
  gap: 25px;
}
.title{
  font-family: 'Brush Script MT';
  font-size: 50px;
  color: #C53678;
  margin-top: 22px;
}


.col-sm-8{
  display: flex;
  justify-content:center;
  padding-top: 20px;
  font-size: 20px;
}

.col-sm-4{
  display: flex;
  justify-content:end;
  cursor: pointer;
  gap: 10px;
}

.story{
  display: flex;
  justify-content: center;
}


.contact{
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  justify-content:center;
  margin-top: 30px;
  color: black;
  gap: 10px;
}

.button2{
margin-top: 30px;
padding: 9px 25px;
background-color: #C53678;
border: none;
border-radius: 100px;
cursor: pointer;
color: white;
font-family: 'Poppins';
font-size: 15px;
width: 150px;
}


a{
   color: black;
}
a:hover{
  color:#C53678;
}
