
body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.box{
    margin: 40px auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}


.logo img{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.name{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #C53678;
margin-top: 10px;
}


.form input{
    font-size: 16px;
    padding: 10px 10px 5px 35px;
    border: none;
    border-radius: 8px;
    background: #F3F2F6;
    font-family: 'Poppins';
    font-style: normal;
}



.form{
    width: 100%;
    margin-top: 8px;
}
.checkbox{
    padding: 10px 10px 5px 35px;
    margin-top: 25px;
}

.button1 button{
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
   }

.buttn1{
    color: white;
}

button {
    margin-top: 30px;
    padding: 9px 25px;
    background-color: #C53678;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    width: 200px;
}

.opt{
    margin-top: 20px;
    font-family: 'Poppins';
    text-align: center;
}

a{
    text-decoration: none;
    color: #C53678;
    font-size: 15px;
}

::placeholder{
    font-size: 13px;
}

