/*body*/
body{
    background: #ffffff;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #C53678;
    border-radius: 50px;
}


/*Header*/
.nav{
    display:flexbox;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.menu{
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;   
}

a{
    text-decoration: none;
}

.logo{
padding-top: 30px;
}
.login{
    padding-bottom: 30px;
    margin-top: 30px;
}

.log{
    margin-left: 30px;
}

.login a{
    color:#C53678;
}

.reg:hover, .log:hover{
    padding: 9px 25px;
    background-color: #C53678;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    width: 100px;
}

/*text*/
.text{
    font-size: 30px;
    margin-left: 110px;
    margin-top: 30px;
}
@media only screen and (max-width: 450px)
{
    .detail{

        margin-top: 20px;
    }
}
.detail{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 25px;
}

.intro{
    font-size: 13px;
}

/*Footer*/
.card-header{
    background-color: white;
  }
  
  .card-footer{
    background-color: white;
  }
  .title{
    font-family: 'Brush Script MT';
    font-size: 50px;
    color: #C53678;
  }
  
  
  
  a{
     color: black;
  }
  a:hover{
    color:#C53678;
  }
  